.main-text {
  margin: auto;
  max-width: 1000px !important;
  height: auto;
}

.projects {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 190px;
  height: 150px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 13px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-custom-title {
  font-weight: bold;
  font-size: 13px;
}

.fa-github-square {
  color: #36a4f7;
  font-size: 25px;
  cursor: pointer;
}

.fa-check {
  color: #36a4f7;
}

.fa-external-link-alt {
  font-size: 11px;
  color: #36a4f7
}

a {
  text-decoration: none;
}

.btn {
  font-size: 12px;
  color: #36a4f7;
  border-color: #36a4f7;
}

.red {
  border-bottom: 2px solid red;
}

.green {
  border-bottom: 2px solid #24d654;
}

.blue {
  border-bottom: 2px solid #36a4f7;
}

.yellow {
  border-bottom: 2px solid #e8e400;
}

.purple {
  border-bottom: 2px solid #8a63d6;
}

@media screen and (max-width: 1052px) {
  .project-card {
    width: 160px;
    height: 150px;
  }
}

@media screen and (max-width: 971px) {
  .project-card {
    width: 190px;
    height: 150px;
  }
}

@media screen and (max-width: 425px) {
  .project-card {
    width: 160px;
    height: 140px;
  }
  .fa-github-square {
    color: #36a4f7;
    font-size: 24px;
    cursor: pointer;
  }
  .card-custom-title {
    font-weight: bold;
    font-size: 12px;
}

.fa-external-link-alt {
    font-size: 11px;
    color: #36a4f7
  }
.btn {
    font-size: 11px;
    color: #36a4f7;
    border-color: #36a4f7;
  }
}

@media screen and (max-width: 375px) {
  .project-card {
    width: 150px;
    height: 130px;
  }
}

@media screen and (max-width: 320px) {
  .project-card {
    width: 130px;
    height: 125px;
  }
}

.vertical-menu {
  position: fixed;
  height: 100%;
  width: 310px;
  text-align: center;
  background-color: #edeef0;
  padding-top: 30px;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  transition: 0.6s;
}

.vertical-menu .link-animation {
  font-family: "Quicksand", Arial, sans-serif;
  color: black;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.6s;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 3;
  padding-bottom: 2.5px;
  cursor: pointer;
}

.vertical-menu h2 {
	font-family: "Playfair Display", Georgia, serif;
	font-weight: 400;
}

img {
	border-radius: 50%;
	border: 4px solid white;
	border-color: white;
	width: 150px;
}

#bodyText h3 {
	font-weight: 300;
	color: black;
}

#bodyText p {
	line-height: 2.0;
	letter-spacing: 0.7px;
	font-size: 16px;
}

#bodyText {
	transition: margin-left 0.6s;
	padding-left: 70px;
  padding-top: 50px;
  padding-right: 60px;
	font-family: "Playfair Display", Georgia, serif;
  color: black;
  font-weight: 300;
}

hr {
	border: 0.5px solid #eee;
}

.vertical-menu #close-btn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 35px;
  display:none;
  cursor: pointer;
}

#toggle-container {
  display: flex;
  align-items: center;
  background-color: #FAFAFB;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
  transition: 0.6s;
}

#toggle-btn {
  transition: all ease-in-out 0.6s;
  color: black;
  font-size: 27px;
  cursor:pointer;
}

#mobile-download {
  font-size: 16px;
  display: none;
  position: absolute;
  top: 8px;
  right: 7px;
  color: #4287f5;
  text-decoration: none;
}

#email-link {
  text-decoration: none;
  color: #4287f5;
}

#cv-download {
  color: #4287f5;
  line-height: 1.5;
  display: block;
  text-decoration: none;
}

#download-text {
  font-family: "Quicksand", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.uni-link {
  text-decoration: none;
  color: #4287f5;
}

.course-info {
  font-family: "Quicksand", Arial, sans-serif;
  position:relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #edeef0;
  height: auto;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

.fa-plus {
  position: absolute;
  font-size: 16px;
  top: 22px;
  right: 10px;
  cursor: pointer;
}

.fa-minus {
  position: absolute;
  font-size: 16px;
  top: 22px;
  right: 10px;
  cursor: pointer;
  display: none;
}

.university-info {
  width: 100%;
  height: auto;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 18px;
  padding-right: 18px;
  display: none;
}

.placeholder {
  padding: 2px;
}

.university-info .uni-style {
  font-weight: bold; 
  letter-spacing: 0.5px;
}

#skills-card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#skills-section .card-header {
  height: auto;
  padding-top: 25px;
}

.nav-pills a.active {
  background-color: #4287f5 !important;
  padding: 4px 6px;
}

.nav-pills a.active:hover {
  color: #ffff !important;
}

.nav-link {
  color: #2f88f5;
  margin-right: 10px;
}

.sep {
  color: #2f88f5;
}

.other-info {
  width: 100%
  height: auto;
  background-color: #63a7ff;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;
}

.footnote {
  font-size: 18px !important;
}

.other-info .other-icons {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.other-info .icon-pad {
  padding-right: 30px;
}

@media (hover: hover) {
  .vertical-menu .link-animation:hover {
    color: #4287f5 !important;
    border-color: #4287f5;
 }
  .vertical-menu #close-btn:hover {
    color: #4287f5;  
 }
  #toggle-btn:hover {
    color: #4287f5;
 }
  .course-info:hover {
    background-color: #4287f5 !important;
    color: white !important;
    border: 1px solid #4287f5 !important;
 }
  .nav-link:hover {
    color: #2f48a3 !important; 
 }
  .btn-outline-primary:hover {
    background-color: #ffff;
    color: #36a4f7;
    border-color: #36a4f7;
 }
  .btn-outline-primary:active:focus {
    background-color: #ffff !important;
    color: #36a4f7 !important;
    border-color: #36a4f7 !important;
  }
}

@media screen and (max-width: 800px) {
  #bodyText {
    padding-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  #bodyText h3 {
    text-align: center;
  }
  #verticalMenu img {
    width: 120px;
  }
  #verticalMenu h2 {
    font-size: 22px;
  }
  #verticalMenu .link-animation {
    font-size: 13px;
  }
  #verticalMenu #cv-download {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  #bodyText {
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media screen and (max-width: 425px) {
  .course-info {
    font-size: 13px;
  }
  .fa-plus {
    font-size: 13px;
  }
  .fa-minus {
    font-size: 13px;
  }
  .nav-item {
    font-size: 15px;
  }
  #pills-tabContent p {
    font-size: 15px;
  }
  #summary-section p {
    text-align: center;
  }
  #contact-section p {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .course-info {
    font-size: 12px;
    overflow: hidden;
  }
  .fa-plus {
    font-size: 12px;
  }
  .fa-minus {
    font-size: 12px;
  }
  #bodyText {
    padding-left: 1px;
    padding-right: 1px;
  }
}

@media screen and (max-width: 320px) {
  .course-info {
    font-size: 11px;
    overflow: hidden;
  }
  .fa-plus {
    font-size: 11px;
  }
  .fa-minus {
    font-size: 11px;
  }
   .nav-item {
    font-size: 14px;
}
  #pills-tabContent p {
    font-size: 14px;
  }
}

.tab-pane .accent {
  color: #007bff;
  font-weight: bold;
}
